transformers==4.37.2
tokenizers==0.15.1
accelerate
urllib3==1.26.7
sentencepiece==0.1.99
shortuuid
peft
bitsandbytes
pydantic
markdown2[all]
numpy
scikit-learn==1.2.2
gradio
gradio_client
requests
httpx==0.24.0
uvicorn
fastapi
einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
deepspeed==0.12.6
ninja
wandb
tiktoken
